.list-view {
    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-background-color: black; /* Màu chủ đạo đen */
}

.text-area {
    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-background-color: black; /* Màu chủ đạo đen */
}

.button {
    -fx-background-radius: 10; /* Làm thon các góc */
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-background-color: #87CEEB; /* Màu xanh da trời nhạt khi hover */
    -fx-padding: 10 20 10 20; /* Đệm để tạo hình chữ nhật */
}

.button:hover {
    -fx-scale-x: 1.1; /* Tăng kích thước ngang của nút lên 10% */
    -fx-scale-y: 1.1; /* Tăng kích thước dọc của nút lên 10% */
    -fx-background-color: #00688B; /* Màu xanh đậm */
}


