.edit_button {
    -fx-background-color: #363737;
    -fx-text-fill: #ffffff;
    -fx-background-radius: 10;
}

.edit_button:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

.edit_word_target {
    -fx-border-color: #363737;
    -fx-border-width: 2;
    -fx-border-radius: 15;
    -fx-background-radius: 15;
}

.edit_word_explain {
    -fx-background-radius: 3;
    -fx-border-color: #363737;
    -fx-border-width: 2;
    -fx-border-radius: 3;
}

.edit_alert {
    -fx-background-color: #C23B22;
    -fx-background-radius: 15;
    -fx-text-fill: #ffffff;
}